@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(360deg, #0b0433 10%, #000000 100%);
    min-height: 90vh;
    width: 99.5%;
    margin: 10vh 0 0 0;
    padding: 0;
}