html {
    scroll-behavior: smooth;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: max-content;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;

    .titleHome {
        font-size: 3.5em;
        letter-spacing: 0.1em;
        opacity: 0.4;
        margin-bottom: 0;
        display: none;
    }

    .titleLeft {
        transform: rotate(270deg);
        font-size: 8em;
        letter-spacing: 0.1em;
        margin: 0;
        padding: 0;
        height: max-content;
        opacity: 0.3;
        position: fixed;
        left: -11vw;
        top: 44vh;
        z-index: -1;
        font-weight: 300;
        color: #B0B6FB;
        text-shadow: 6px 6px 1px black;
    }

    .aboutRight {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 80%;
        padding: 0;

        .aboutRightSection {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .rightTop {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                    
                    .crop {
                        width: max-content;
                        height: 50vh;
                        width: 60vw;
                        position: relative;
                        overflow: hidden;
                        background-image: url('../../../public/images/headshot.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top;
                        /* border-radius: 50%; */
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 50px 100px -20px, 
                        rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, 
                        rgba(0, 0, 0, 0.7) 0px -2px 6px 0px inset;

                        
                        /* .headshot {
                            display: inline-block;
                            margin-top: -3%;
                            height: 130%;
                            width: auto;
                            opacity: 0.9;
                        } */
                    }

                .description {
                    font-size: 1.3em;
                    margin-top: 5vh;
                }
            }

            .rightMain {
                width: 100%;
                height: 60vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin: 2em 0 2em 0;
                border: 1px solid rgba(176, 182, 251, 0.2);
                box-shadow: rgba(176, 182, 251, 0.3) 0px 2px 5px 1px, rgba(176, 182, 251, 0.23) 0px 2px 6px 1px, rgba(0, 0, 0, 0.4) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, 
                rgba(0, 0, 0, 0.7) 0px -2px 6px 0px inset;

                .bio {
                    width: 45%;
                    line-height: 2em;
                    text-align: justify;
                    padding: 0 1em 0 1em;
                }

                .line {
                    height: 90%;
                    width: 5%;
                    background-image: url('../../../public/images/vertical-line.png');
                    background-repeat: repeat-y;
                    background-position: center;
                    background-size: 10%;
                    opacity: 0.5;
                }

                .techStack {
                    display: flex;
                    justify-content: center;
                    align-items: stretch;
                    width: 45%;
                    height: max-content;
                    line-height: 1.5em;
                    text-align: center;
                    padding: 0 0 1.1em 0;

                    .techStackTitle {
                        text-align: center;
                        text-decoration: underline;
                    }

                    .techStackLeft {
                        display: flex;
                        justify-content: center;
                        align-content: space-between;
                        flex-direction: column;
                        width: 50%;
                        height: 100%;
                        padding-right: 0.5em;

                        .stackHeader {
                            font-size: 0.7em;
                            text-transform: uppercase;
                            letter-spacing: 0.2em;
                            margin-top: 2.1em;
                            font-weight: 600;
                            color: #B0B6FB;
                        }
                    }

                    .techStackRight {
                        display: flex;
                        justify-content: center;
                        align-content: space-between;
                        flex-direction: column;
                        width: 50%;
                        height: 100%;
                        padding-right: 0.5em;

                        .stackHeader {
                            font-size: 0.7em;
                            text-transform: uppercase;
                            letter-spacing: 0.2em;
                            margin-top: 2.1em;
                            font-weight: 600;
                            color: #B0B6FB;
                        }
                    }
                }
            }
    }
        .bottomBlurb {
            width: 70%;
            text-align: center;
            line-height: 1.5em;
            margin-top: 3em;
            
        }

        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6vh 0 2vh 0;
            opacity: 0.8;
        }

        .scroll {
            cursor: pointer;
            margin-bottom: 3em;
            position: relative;
            top: 45%;
            margin: 2vh 0 4vh 0;
            cursor: pointer;
        }
    }
}

@media (min-width: 1500px) {
    .aboutContainer {

        .titleLeft {
            left: -11vw;
            font-size: 10em;
        }

        .aboutRight {

            .bottomBlurb {
                margin-bottom: 4vh;
            }

            .scroll {
                margin: 4vh 0 6vh 0;
            }
        }
    }
} 