.aboutContainer {
    display: grid;
    grid-template-columns: 10vw 1fr;
    height: 90vh;
    width: 100%;
    border: 1px solid red;
    box-sizing: border-box;

    .titleLeft {
        transform: rotate(270deg);
        font-size: 8em;
        letter-spacing: 0.1em;
        margin: 63vh 0 0 8vh;
        padding: 0;
        height: max-content;
        opacity: 0.4;
    }

    .aboutTop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid yellow;
        height: 30vh;
        width: 90%;
        margin: 2em 5em 2em 5em;
        padding: 0;

        .crop {
        width: 10em;
        height: 10em;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
            
            .headshot {
                display: inline-block;
                margin: 0 auto;
                margin-left: -37%;
                height: 110%;
                width: auto;
            }
        }

        .description {
            font-size: 1.1em;
            margin-top: 1em;
        }
    }

    .aboutMain {
        border: 1px solid aqua;
        width: 100%;
    }
}