.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: #000000;
    background-image: url('../../../public/images/home-graphic.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #050215;
    background-blend-mode: screen;
    margin: 2.6em 0 2em 0;
    box-shadow: inset 0 0 100px 40px rgb(0, 0, 0);

    .scroll {
        position: relative;
        top: 45%;
        color: white;
        cursor: pointer;
    }

    /* .homeGraphic {
        margin: 1em;
        box-shadow: 0 0px 8px 0px rgba(255,255,255, 0.2);
        background-blend-mode: multiply;
    } */
}

.homeAbout {

    .scrollLocation {
        height: 5vh;
        margin-bottom: 6vh;
    }
}

@media (max-width: 1500px) {
    .homeAbout {

        .scrollLocation {
            margin-bottom: 6vh;
        }
    }
}

@media (max-width: 1100px) {
    .homeAbout {

        .scrollLocation {
            margin-bottom: 13vh;
        }
    }
}

@media (max-width: 350px) {
    .homeAbout {

        .scrollLocation {
            margin-bottom: 9vh;
        }
    }
}