.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: #000000;
    background-image: url('../../../public/images/home-graphic.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2.6em 0 2em 0;
    box-shadow: inset 0 0 50px 40px rgb(0, 0, 0);

    /* .homeGraphic {
        margin: 1em;
        box-shadow: 0 0px 8px 0px rgba(255,255,255, 0.2);
        background-blend-mode: multiply;
    } */
}