 .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 2em;
    background-color: black;
    z-index: 1;
    box-shadow: 0 1px 4px -3px white;

    .headerRight {
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      margin-right: 4em;

      .navOpen {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;
         position: fixed;
         left: 85em;
         overflow: hidden;
         animation: 1s 1 forwards open-menu;
         width: max-content;

         .brackets {
            margin: 1em;
         }
      }

      .navClosed {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;
         position: fixed;
         left: 85em;
         overflow: hidden;
         animation: 1s 1 forwards close-menu;
         width: max-content;

         .brackets {
            margin: 1em;
         }
      }
    }

    .headerLeft {
      float: left;
      font-size: 2em;
   }
}

@keyframes open-menu {
   0%   { transform: scale(1,1)    translateX(0); }
        10%  { transform: scale(1.1,.9) translateX(0); }
        30%  { transform: scale(.9,1.1) translateX(-25em); }
        50%  { transform: scale(1,1)    translateX(-26em); }
        57%  { transform: scale(1,1)    translateX(-26em); }
        64%  { transform: scale(1,1)    translateX(-26em); }
        100% { transform: scale(1,1)    translateX(-25em); }
 }

 @keyframes close-menu {
   from {
     left: 60em;
   }
 
   to {
     left: 85em;
   }
 }
