 .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 10vh;
    width: 100%;
    border: 1px solid white;
    padding: 2em;
    background-color: black;
    z-index: 1;

    .headerRight {
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;

      .brackets {
         margin: 1em;
      }
    }

    .headerLeft {
      float: left;
      font-size: 2em;
   }
}