 .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 10vh;
    width: 100%;
    padding: 2em;
    background-color: black;
    z-index: 1;

    .headerRight {
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      margin-right: 4em;

      .navOpen {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;
         position: fixed;
         left: 85em;
         overflow: hidden;
         animation: 1s 1 forwards open-menu;

         .brackets {
            margin: 1em;
         }
      }

      .navClosed {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;
         position: fixed;
         left: 85em;
         overflow: hidden;
         animation: 2s 1 forwards close-menu;

         .brackets {
            margin: 1em;
         }
      }
    }

    .headerLeft {
      float: left;
      font-size: 2em;
   }
}

@keyframes open-menu {
   from {
     left: 85em;
     height: 0em;
   }
 
   to {
     left: 60em;
   }
 }

 @keyframes close-menu {
   from {
     left: 60em;
   }
 
   to {
     left: 85em;
     height: 0em;
   }
 }
